.navbar-fixed-left {
  width: 20%;
  position: fixed;
  border-radius: 0;
  height: 100%;
  text-align: center;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 20%;
}

.container {
	float: right;
	height: 1000px;
	max-width: 80%;
	text-align: center;
}

.center-justify{
	margin: 0 auto;
	width: 60%;
	text-align: justify;
	-moz-text-align-last: center;
	text-align-last: center;
}

img{
	border-radius: 50%;
}

.center-image{
	display: block;
	width: 15%;
	height: 15%;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
}
