.navbar-fixed-left {
  width: 20vw;
  position: fixed;
  border-radius: 0;
  height: 100%;
  text-align: center;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 20vw;
}

.container {
  height: 1000px;
}

.wrapper {
  margin-left: 22vw;
}

img{
	border-radius: 50%;
}

.center-image{
	display: block;
	width: 15%;
	height: 15%;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

.row{
	text-align: center;
}